<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="shortcut icon" href="https://armath.am/assets/images/armath_favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar-div">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{%url 'blog:home'%}">Armath</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%block nav-home%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'blog:home'%}">Home <span class="sr-only">(current)</span></a>
          </li>
          {%endblock%}

          {%block nav-about%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">What is Armath</a>
              <a class="dropdown-item" href="{%url 'blog:edu-program'%}">Educational program</a>
              <a class="dropdown-item" href="{%url 'blog:why-armath'%}">WhyArmath</a>
            </div>
          </li>
          {%endblock%}
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Franchise model
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">Franchising Model</a>
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">Budget</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Become a partner
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">How to start?</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">Represent Armath in your country</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">Become a franchisee</a>
            </div>
          </li>
          {%block nav-contact-us%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'blog:contact-us'%}">Contact <span class="sr-only">(current)</span></a>
          </li>
          {%endblock%}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
  <div class="main">
    {%block content%}

    {%endblock%}
  </div>
</div>
      <div class="footer">
          <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Armath</h6>
          <p class="footer_text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad repudiandae explicabo a delectus, quo voluptatum minima ex animi nemo quam cum pariatur, eum ducimus aperiam alias reiciendis voluptas velit quaerat.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a class="footer_links" href="#!">Լաբորատորիաներ</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Էլ․ուսուցում</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Միջոցառումներ</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Նորություններ</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a class="footer_links" href="https://facebook.com">Գործընկերներ</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Ձեռքբերումներ</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Նվիրաբերել</a>
          </p>
          <p>
            <a class="footer_links" href="#!">Աշխատանք</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p class="footer_text" > 
            <i class="fa fa-home mr-3"></i>Հակոբ Հակոբյան, 3 Երևան</p>
          <p class="footer_text" >
            <i class="fa fa-envelope mr-3"></i> info@armath.com</p>
          <p class="footer_text" >
            <i class="fa fa-phone mr-3"></i>+374 11 548881</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left footer_text">© 2020 Copyright:
            <a class="armath_link" href="https://armath.am/hy" target="_blank">
              <strong> Armath.am</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
      </div>

  <script src="{%static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>