{% extends 'base.html' %}

{%block nav-home%}
<li class="nav-item active">
  <a class="nav-link active" href="{%url 'blog:home'%}">Home <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}

<body class="home-body">
  {% for blog in blogs %}
  <div class="wrapper">
    <div class="product-img">
      {% if blog.image1 %}
      <a href="{%url 'blog:blog-detail' pk=blog.id %}"><img src="{{blog.image1.url}}"  height="420" width="327"></a>
      {% endif %}
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{blog.title}}</h1>
        <h2>by studio and friends</h2>
        <p>{{ blog.description }}</p>
      </div>
      <div class="product-price-btn">
        <!-- <p class="price"><span>{{ blog.price }}</span>$</p> -->
        <a href="{%url 'blog:blog-detail' pk=blog.id %}"><button type="button">buy now</button></a>
      </div>
    </div>
  </div>
  {%endfor%}

</body>

{% endblock %}


