{% extends 'base.html' %}

{%block nav-about%}
<li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{%url 'blog:what-is-armath'%}">What is Armath</a>
      <a class="dropdown-item" href="{%url 'blog:edu-program'%}">Educational program</a>
      <a class="dropdown-item active" href="{%url 'blog:why-armath'%}">WhyArmath</a>
    </div>
  </li>
{%endblock%}


{% block content %}
<div class="main">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos inventore qui aut excepturi sed officiis tempore exercitationem, consequatur reiciendis possimus aliquam! Repellendus saepe placeat dolorum expedita ipsa debitis esse itaque.</p>
</div>
{% endblock %}